<form autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="login()">
  <h2>Login</h2>
  <div class="input-group">
    <label class="input-group-text">Email</label>
    <input type="text"
           class="form-control"
           placeholder="Your email"
           formControlName="email">
  </div>
  <div class="input-group">
    <label class="input-group-text">Password</label>
    <input type="password"
           class="form-control"
           placeholder="Your password"
           formControlName="password">
  </div>
  <div class="buttons">
    <button type="submit"
            [disabled]="form.invalid"
            class="btn btn-signup">
      Sign in
    </button>
    <button (click)="loginWithGoogle()"
            type="button"
            class="btn btn-google">
      Continue whit Google
      <img src="./assets/icons/google.svg" alt="google icon">
    </button>
  </div>

  <div class="question-account">
    <span>
      You do not have an account?
    </span>

    <a routerLink="/auth/register">
        Create on here
    </a>
  </div>
</form>
